@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 35px;
    font-weight: 800;
    color: #F75013;
    z-index: 1;
}

.left-login-image{
    width: 25vw;
    z-index: 1;

}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #F75013;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #000000de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #474949;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #a0a5a5a8;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #F75013;
    cursor: pointer;
    /*box-shadow: 8px 10px 40px -12px #000000;*/
}

.btn-cadastro{
    margin: center;
    color: #F75013;
    cursor: pointer;
    text-decoration: none;
}

.btn-cadastro:hover{
    text-decoration: underline;
}

.btn-login:hover{
    background: rgba(255,255,255, 0.9);
    transform: scale(1.02);
    border: 2px solid #F75013;
    color: #F75013;
}






.mensagem-erro {
    display: none;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;

    box-sizing: border-box;

    background-color: #ffe5e5;
    border: 1px solid #ffb8b8;
    border-radius: 8px;

    color: #d93025;
    font-size: 14px;
}

.mensagem-erro span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22px;
    height: 22px;
    min-width: 22px;

    background-color: #d93025;
    color: white;

    border-radius: 50%;

    font-weight: bold;
}

.mensagem-erro p {
    margin: 0;
}

.mensagem-erro.mostrar {
    display: flex;
}







@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 30vh;
    }
    .card-login{
        width: 90%;
    }
}




